{% url 'TransferSystem:transfered-articles' as transfered_articles %}
{% url 'TransferSystem:saved-articles' as registered_articles %}
{% url 'TransferSystem:registered-users' as registered_users %}
{% url 'TransferSystem:home' as home %}
{% url 'TransferSystem:logout' as logout %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ index }}">Transfer App</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="{{ logout }}">
                <i class="fa fa-sign-out fa-fw"></i> 
                Logout
            </a>
        </li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ home }}"><i class="fa fa-home fa-fw"></i> Home</a>
                </li>
                <li>
                    <a href="{{ transfered_articles }}"><i class="fa fa-bars fa-fw"></i> Transfered Articles</a>
                </li>
                <li>
                    <a href="{{ registered_users }}"><i class="fa fa-users fa-fw" ></i> Registered Users</a>
                </li>
                <li>
                    <a href="{{ registered_articles }}"><i class="fa fa-archive fa-fw"></i> Saved Articles</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>